ENV=dev
PORT=80
FALLBACK_LOCALE='en_US'
EMAIL_SERVICE_HOST='smtp.gmail.com'
EMAIL_SERVICE_PORT=587
EMAIL_SERVICE_USER='aaa@eee.de'
EMAIL_SERVICE_PASS='asdfsadfgerghdgf'
EMAIL_FROM_NAME='FROM'
EMAIL_FROM_EMAIL='from@email.dd'

TYPEORM_HOST = postgres.dbs
TYPEORM_USERNAME = root
TYPEORM_PASSWORD = pass
TYPEORM_DATABASE = mailer
TYPEORM_PORT = 5432